<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0' crossorigin='anonymous'>
    <title>The 'Bee' Team</title>
</head>

<body>
    <div class='container-fluid bg-warning text-center d-flex align-items-center justify-content-center' style='height: 200px'>
        <h1 class='text-center'>The 'Bee' Team</h1>
    </div>

    <div class='container d-flex justify-content-center mt-3'>

        <div class='card d-inline-flex text-dark bg-warning m-3' style='max-width: 30%'>
            <div class='card-header bg-warning text-dark h3'>
                Queen Bee
                <h6 class='card-subtitle mb-2 text-light'>Manager</h6>
            </div>
            <div class='card-body'>
                <ul class='list-group'>
                    <li class='list-group-item'>ID: Queen</li>
                    <li class='list-group-item'>Email:<a href='mailto:queen@thebeeteam.com'>queen@thebeeteam.com</a></li>
                    <li class='list-group-item'>Office Number: 123 The Hive</li>
                </ul>
            </div>
        </div>
        <div class='card d-inline-flex text-dark m-3' style='max-width: 30%'>
            <div class='card-header bg-warning text-dark h3'>
                Carlos
                <h6 class='card-subtitle mb-2 text-light'>Software Engineer</h6>
            </div>
            <div class='card-body'>
                <ul class='list-group'>
                    <li class='list-group-item'>ID: Drone</li>
                    <li class='list-group-item'>Email:<a href='mailto:drone@thebeeteam.com'>drone@thebeeteam.com</a></li>
                    <li class='list-group-item'>GitHub:
                        <a href='https://github.com/WitnessMyHands'>WitnessMyHands</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='card d-inline-flex text-dark m-3' style='max-width: 30%'>
            <div class='card-header bg-warning text-dark h3'>
                Worker
                <h6 class='card-subtitle mb-2 text-light'>Intern</h6>
            </div>
            <div class='card-body'>
                <ul class='list-group'>
                    <li class='list-group-item'>ID: Worker</li>
                    <li class='list-group-item'>Email:<a href='mailto:worker@thebeeteam.com'>worker@thebeeteam.com</a></li>
                    <li class='list-group-item'>School: BEE Someone Apiaries</li>
                </ul>
            </div>
        </div>

    </div>

    <div class='position-relative mt-5 bottom-0 start-50 translate-middle-x'>
        <!-- <button type='button' class='btn btn-dark text-warning position-relative bottom-0 start-50 translate-middle-x'>
            Looking for a 'BEE' <svg width='1em' height='1em' viewBox='0 0 16 16' class='position-absolute top-100 start-50 translate-middle mt-1 bi bi-caret-down-fill' fill='#212529' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'></svg>
        </button> -->
        
        <img src='../assets/images/bee.gif' class='img-fluid' alt='Bee Mascot'>
    </div>
</body>
</html>